body{
    background-color: rgb(217, 223, 223) !important;
}

.question{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.question-box{
    border-radius: 10px;
}
